#effect-search-search-input{
	padding:4px;
	border-bottom:double black 3px;
	border-radius: 25px;
}

#effect-search-search-input > input{
	height:21px;
	font-size:18px;
}

.effect-search-search-input-title{
	font-size:20px;
}

.effect-search-search-input-title-strong{
	color:red;
}

#effect-search-search-input > input[type="button"]{
	height:27px;
}

#effect-search-bottom{
	display:box;
	display: -webkit-box;  
    display: -moz-box;
}

#effect-search-search-options-button{
	z-index:2;
	position:fixed;
	width:30px;
	background-color:#CCCCCC;
	opacity: 0.5;
	text-align:center;
	font-size:25px;
	border-radius: 4px;
	padding:3px;
}

#effect-search-search-options-button-close{
	position:fixed;
	background-color:#CCCCCC;
	text-align:center;
	font-size:25px;
	padding:3px;
}

#effect-search-search-options{
	display:none;
    width:30%;
	background-color:#CCFFCC;
    min-width:150px;
    max-width:200px;
    padding:5px;
}

.effect-search-search-options-OptionBox{
	border:solid 1px #88FF88;
	border-radius: 12px;
}

.effect-search-search-options-OptionBox > div{
	display:none;
	padding-bottom:1em;
}

.effect-search-search-options-OptionBox > h3 > span{
	border:solid 1px #44FF44;
	border-radius: 12px;
	color:#FF44FF;
	background-color:#44FF44;
	padding:2px;
}

#effect-search-search-result{
	z-index:1;
	box-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	min-height:400px;
}

#effect-search-search-result > div > table{
	magrin-left:3px;
	width:250px;
	height:300px;
	display:inline-block;
	border:2px double black;
	vertical-align:top;
	font-size:12px;
	border-radius: 12px;
}



.effect-search-search-result-effect-detail{
	padding:2px;
}

#effect-search-search-result > div{
	padding:3px;
}

#effect-search-search-result > div > table > caption{
	padding:3px;
	font-weight: bold;
	position:relative;
}

.effect-search-search-result-effect-syndrome{
	position:absolute;
	left:227px;
	top:-2px;
	border:solid black 2px;
	border-radius:12px;
	padding:2px;
	font-size:15px;
	background-color:#FFF0F0;
}

footer{
	padding:4px;
	border-top:double black 3px;
	border-radius: 25px;
}
